---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    ci-bot: "true"
    env: "prod"
  name: acend-website
---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    ci-bot: "true"
    env: "prod"
  name: acend-webshell
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: acend-wildcard
  namespace: acend-webshell
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: k8s-local-acend-website
  target:
    name: acend-wildcard
    template:
      type: kubernetes.io/tls
  data:
    - remoteRef:
        key: acend-wildcard
        property: tls.crt
      secretKey: tls.crt
    - remoteRef:
        key: acend-wildcard
        property: tls.key
      secretKey: tls.key
